@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.notes-navigation {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.action-btn, .sort-btn, .toolbar-btn, .blue-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.action-btn.align-right, .blue-button.align-right {
    margin-left: auto;
}

.sort-btn:hover, .action-btn:hover, .toolbar-btn:hover, .blue-button:hover {
    background-color: #0056b3;
}

.notes-list {
    width: 100%;
}

.todo-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-item.completed .todo-name {
    color: black;
}

.todo-item .todo-item-footer label {
    color: #cccccc;
}

.todo-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.todo-date, .todo-name, .todo-importance {
    flex: 1;
    color: black;
    font-weight: 300;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.todo-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 35%;
}

.todo-form form {
    display: flex;
    flex-direction: column;
}

.todo-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.todo-form input, .todo-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: calc(100% - 22px);
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.todo-importance {
    display: flex;
    justify-content: flex-end;
    color: #050303;
    font-size: 18px;
    flex-grow: 1;
    text-align: right;
    margin-right: 50px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label[for="todo-open"], label[for="todo-completed-1"], label[for="todo-completed-2"] {
    color: #cccccc;
}

.toolbar {
    display: flex;
    gap: 10px;
}
